.spinitron-player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #f1f1f1;
    margin: 0 0 20px;
}

/* Left */

.spinitron-player .show-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    display: block;
}


/* Right */

.spinitron-player .show-details {
    flex: 1;
    padding: 20px 30px;
}

.spinitron-player .show-details .show-status {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
}

.spinitron-player .show-details .show-title {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.spinitron-player .show-details .show-time-dj,
.spinitron-player .show-details .show-time,
.spinitron-player .show-details .show-dj {
    font-size: 14px;
    margin: 0;
}
